<h2>authors</h2>
<button mat-flat-button routerLink="/authors/create">Add new</button>

<app-generic-list [listedT]="authors">
    <ng-container content>
        <table mat-table [dataSource]="authors" class="mat-elevation-z8 index-elements">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <th mat-cell *matCellDef="let element">{{element.id}}</th>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <th mat-cell *matCellDef="let element">{{element.name}}</th>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <th mat-cell *matCellDef="let element">
                    <a routerLink="/authors/edit/{{element.id}}" mat-flat-button>Edit</a>
                    <button mat-flat-button="warn"
                    [swal]="{title: 'Confirmation', text: 'Do you want to delete this record?', showCancelButton: true}"
                    (confirm)="delete(element.id)" 
                    >Delete</button>
                </th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: showColumns"></tr>
        </table>

        <mat-paginator 
            showFirstLastButtons 
            [length]="totalRecords" 
            [pageIndex]="pagination.page-1"
            [pageSize]="pagination.recordsPerPage" 
            [pageSizeOptions]="[5,10,50]" 
            class="mat-elevation-z8" 
            (page)="updatePagination($event)">
        </mat-paginator>
    </ng-container>
</app-generic-list>