<mat-toolbar>
    <span>
        <a mat-button routerLink="">
            <mat-icon>local-Books</mat-icon> Angular books 
        </a>
    </span>
    <div>
        <a mat-button routerLink="book/filter">Search Book</a>
    </div>
    <div>
        <a mat-button routerLink="genre">Genres</a>
    </div>
    <div>
        <a mat-button routerLink="authors">Authors</a>
    </div>
    <div>
        <a mat-button routerLink="library">Library</a>
    </div>
    <div>
        <a mat-button routerLink="book/create">Add Book</a>
    </div>
</mat-toolbar>
