<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Name:</mat-label>
        <input matInput [formControl]="form.controls.name" />
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Birth Date:</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="form.controls.birthDate" />
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
    <div class="container-buttons">
        <button type="submit" mat-flat-button [disabled]="form.invalid">Save Changes</button>
        <a mat-stroked-button routerLink="/authors">Cancel</a>
    </div>
</form>