<form (submit)="saveChanges()" [formGroup]="form">

    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="form.controls.title"/>
        <mat-error>{{getErrorTitleField()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Release Date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="form.controls.releaseDate"/>
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error>{{getErrorReleaseDateField()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Review</mat-label>
        <input matInput [formControl]="form.controls.review"/>
    </mat-form-field>

    <app-input-img title="Book Cover" [urlCurrentPhoto]="modelBook?.cover" (selectedFile)="fileSelected($event)"></app-input-img>

    <div class="container-buttons">
        <button type="submit" mat-flat-button [disabled]="form.invalid">save</button>
        <a mat-stroked-button routerLink="/">Cancel</a>
    </div>
</form>
