
<app-generic-list [listedT]="books">
  <ng-container contentBook>
    <div class="container-books">
      @for (book of books; track $index){
        <div class="container-book">
          <a>
            @if(book.bookImage){
              <img [ngSrc]="book.cardImage" [priority]="$index === 0" width="169" height="250"/>
            } @else {
              <img src="default.jpg" width="169" height="250"/>
            }
          </a>
          <p>
            <a>{{book.title}}</a>
          </p>
          <div>
            <a mat-flat-button>Edit</a>
            <button mat-flat-button type="button" color="warn">Delete</button>
          </div>
        </div>
      }
    </div>
  </ng-container>
</app-generic-list>

