<div class="container">
    <ul>
        @for ( element of NotSelectedItems; track $index){
            <li (click)="selectOption(element,$index)">{{element.value}}</li>
        }
    </ul>

    <div class="div-buttons">
        <button type="button" (click)="selectAll()">>></button>
        <button type="button" (click)="unselectAll()"><<</button>
    </div>

    <ul>
        @for (item of SelectedItems; track $index) {
            <li (click)="unselectOption(item,$index)">{{item.value}}</li>
        }
    </ul>
</div>