<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="form.controls.name"/>
        <mat-error>{{getErrorsNameField()}}</mat-error>
    </mat-form-field>

    <div class="container-buttons">
        <button 
            mat-flat-button type="submit" 
            [disabled]="form.invalid">
                Save changes
        </button>
        <a mat-stroked-button routerLink="/genres">Cancel</a>
    </div>
</form>